.button{
    padding: 20px 40px;
    border-radius: $rounded-lg;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    &--primary{
        background-color: $color-primary;
        transition: $transition-3s;
        color: $color-link ;
        &-s{
            background-color: $color-primary-secondary;
            color: $color-link;
            transition: $transition-3s;
            &:hover{
                opacity: 0.7;
            }
        }
        &:hover{
            opacity: 0.7;
        }
    }
    &--filter{
        padding: 0;
    }
    &__to-top{
        display: none;
        padding: 10px;
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: $color-primary-secondary;
        border-radius: 50%;
        color: $color-link;
    }
}
.show{
    display: flex;
}