	$container-width: 1190px;
	$container-padding: 15px;

	$container-height: 100vh;
	$header-height: 100px;
	// fonts var
	$font-primary: "Montserrat", serif;
	// colors var
	$color-text: #803232;
	$color-background: #fff; 		
	$color-background-secondary: #FAFBFE; 
	$color-foreground: #F9E548; 		
	$color-foreground-secondary: #EAEDF1; 	
	$color-text-secondary: #848589; 
	$color-border: #EFEFEF; 			
	$color-border-secondary: #b3b3b3;
	$color-ghost: #eef2f7; 				
	$color-ghost-secondary: #cbd7e7; 	
	$color-primary: #E03646; 				
	$color-primary-secondary: #FA8722;
	$color-card: #fff; 					
	$color-card-secondary: #ccc; 			
	$color-link: #fff; 					
	$color-link-scroll: #30369F;			
	$color-link-bg: #000;
	$color-link-scroll: #fff;			

	// rounded var
	$rounded-sm: 4px;						
	$rounded-md: 8px;
	$rounded-lg: 12px;
	$rounded-xl: 16px;

	//transitions 
	$transition-3s: all 0.3s ease-in-out;
