$color-bg-link: #000;
$color: #fff;
$transition: all .3s ease-in-out;

.header{
    width: 100%;
    z-index: 9999;
    position: fixed;
    top: 0;
    transition: $transition;
    color: $color;
    &--scrolled{
        backdrop-filter: blur(10px);
        background-color: rgb(0 0 0 / 90%);
    }
    &__container{
        padding-block: 10px;
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
        gap: 30px;
    }
    &__link{
        &-logo{
            height: 60px;
            display: flex;
            align-items: center;
        }
    }
    &__button{
        padding: 0!important;
        min-width: 60px !important;
        height: 60px !important;
        display: none!important;
        border-radius: 50%!important;
        @include tablet{
            display: flex!important;
        }
    }
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &--open{
            right: 0!important;
        }
        @include tablet{
            height: 100vh!important;
            overflow: hidden;
            position: absolute;
            right: -100%;
            top: 0;
            padding: 50px 0;
            flex-direction: column;
            background-color: #111;
            transition: $transition-3s;
            justify-content: center;
            gap: 30px;
        }
    }
    &__menu{
        display: flex;
        align-items: center;
        gap: 20px;
        @include tablet{
            flex-direction: column;
        }
    }
    &__item{
        padding: 5px 10px;
        transition: $transition;
        &:hover{
            background-color: $color-primary;
        }
    }
    &__list{
        display: flex;
        gap: 20px;
        &-item{
            
        }
        &-link{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            transition: $transition;
            &:hover{
                background: $color-primary;
            }
        }
    }
}
#Close{
    display: none;
}
.active{
    display: block!important;
}
.no-active{
    display: none!important;
}
#MenuIcon{

}