$background-color: #111;
$color-desc: #ccc;
$radius: 8px;

.menu{
    padding: 100px 0;
    background-color: $background-color;
    color: $color-desc;
    position: relative;
    z-index: 10;
    &__color{
        position: absolute;
        top: 0;
        left: 0;
        height: 200px;
        width: 100%;
        background-color: #af2323;
    }
    &__title{
        margin-bottom: 30px;
    }
    &__list{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 40px;
        margin-bottom: 40px;
        @include small-tablet{
            grid-template-columns: repeat(3,1fr);
        }
        @include mobile{
            grid-template-columns: repeat(2, 1fr);
        }
        @include small-mobile{
            grid-template-columns: repeat(1,1fr);
        }
    }
    &__image{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        transition: all 500ms ease-in-out;
    }
    &__item{
        padding-top: 300px;
        position: relative;
        background-color: #2c2c2c;
        transition:  $transition-3s;
        &:hover{
            transform: translateY(-20px);
            .menu__item-image{
                height: 350px;
            }
        }
        &:hover .menu__image{
        }
        &-image{
            position: absolute;
            object-fit: contain;
            height:  300px;
            width: 100%;
            bottom:  calc(100% - 300px);
            transition: $transition-3s;
        }
        &-title{
            font-size: 25px;
            font-weight: 400;
            text-align: center;
            margin-bottom: 10px;
        }
        &-desc{
            font-size: 18px;
            text-align: center;
            margin-bottom: 5px;
            font-weight: 200;
        }
        &-actions{
            display: flex;
            justify-content: space-between;
            padding-inline: 20px;
            padding-block: 10px;
        }
        &-oldcost{
            text-decoration: line-through;
            color: #af2323;
        }
        &-cost{
            display: flex;
            font-size: 22px;
            width: 100%;
            text-align: center;
            justify-content: center;
            font-weight: 500;
            &s{
                display: flex;
                flex-direction: column;
            }
        }
        &-button{
            transition: all .3s ease-in-out;
            &:hover{
            }
        }
    }
    &__more{
        display: flex;
        justify-content: center;
        width: 100%;
        &-btn{
            padding: 15px 20px;
            background-color: #af2323;
            border-radius: $radius;
            transition: all .3s ease-in-out;
            &:hover{
                background-color: #ccc;
                color: #111;
            }
        }
    }
}