.welcome{
    padding-top: 200px;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    background-color: #111;
    @include mobile{
        padding-top: 0;
    }
    &__container{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include mobile{
            justify-content: center;
            align-items: center;
        }
    }
    &__title{
        position: relative;
        font-size: 68px;
        z-index: 10;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        @include mobile{
            width: 100%;
            font-size: 65px;
            text-align: center;
        }
        @include small-mobile{
            font-size: 50px;
        }
        @include mb{
            font-size: 35px;
        }
    }
    &__description{
        position: relative;
        z-index: 10;
        text-align: justify;
        font-weight: 300;
        max-width: 350px;
        font-size: 24px;
        color: $color-primary;
        margin-bottom: 40px;
        @include small-tablet{
            width: 65%;
        }
        @include mobile{
            width: 100%;
            text-align: center;
        }
        @include small-mobile{
            font-size: 20px;
        }
        @include mb{
            font-size: 16px;
        }
    }
    &__button{
        z-index: 1!important;
        width: fit-content!important;
        padding: 25px 40px!important;
        @include mb{
            font-size: 20px;
        }
        &-text{
            font-weight: 500;
        }
        &-icon{
            width: 28px;
            stroke-width: 1.5;
        }
    }
    &__background{
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__image{
        &-background{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 30ms ease-in-out;
        }
    }
}
#water3{
    position: absolute;
    top: calc(100% - 1px);
    height: 200vh;
    width: 100%;
    background: #F19FA9;
}
#Gate{
    @include mobile{
        
    }
}