.welcome{
    padding-top: 200px;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
    @include mobile{
        padding-top: 0;
    }
    &__container{
        height: 100%;
        @include mobile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }
    &__title{
        position: relative;
        font-size: 82px;
        z-index: 10;
        text-transform: uppercase;
        color: #fff;
        @include mobile{
            width: 100%;
            font-size: 65px;
            text-align: center;
        }
        @include small-mobile{
            font-size: 50px;
        }
        @include mb{
            font-size: 35px;
        }
    }
    &__description{
        position: relative;
        z-index: 10;
        width: 50%;
        font-size: 24px;
        color: $color-text;
        margin-bottom: 40px;
        @include small-tablet{
            width: 65%;
        }
        @include mobile{
            width: 100%;
            text-align: center;
        }
        @include small-mobile{
            font-size: 20px;
        }
        @include mb{
            font-size: 16px;
        }
    }
    &__button{
        position: relative;
        z-index: 10;
        padding: 0;
        font-size: 32px;
        text-transform: uppercase;
        display: flex;
        gap: 30px;
        color:  $color-text;
        @include mb{
            font-size: 20px;
        }
        &-text{
            font-weight: 500;
        }
        &-icon{
            width: 36px;
            stroke-width: 1.5;
        }
    }
    &__background{
        width: 100vw;
        height: 100vh;
        position: absolute;
        left: 0;
        top: 0;
    }
    &__image{
        &-background{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 30ms ease-in-out;
        }
    }
}
#water3{
    top: 90%;
    height: 200vh;
}
#Gate{
    object-fit: contain;
    @include mobile{
        display: none;
    }
}